// Variables
$text-color: #FBF0DE;
$border-color: #9B8052;

// Mixins
@mixin box-sizing($box: border-box) {
    box-sizing: $box;
}

@mixin vertical-gradient(
    $start-color: #202527,
    $start-point: 0%,
    $end-color: #1b1015,
    $end-point: 100%
) {
    background: linear-gradient(to bottom, $start-color $start-point, $end-color $end-point);
}

@mixin horizontal-gradient(
    $start-color: #5a4a2f,
    $start-point: 0%,
    $end-color: #1b1015,
    $end-point: 100%
) {
    background: linear-gradient(to right, $start-color $start-point, $end-color $end-point);
}

@mixin box-shadow(
    $x-offset: 0px,
    $y-offset: 2px,
    $blur: 10px,
    $shadow-color: rgba(189, 161, 119, .2)
) {
    box-shadow: $x-offset $y-offset $blur $shadow-color;
}

// Global Styles
* {
    @include box-sizing();
}

[v-clock] {
    display: none;
}

html, body {
    min-height: 100dvh;
    @include vertical-gradient();
}

body, a, a:hover, a:focus, a:active{
    color: $text-color;
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Noto Sans", "Noto Sans TC", "Helvetica Neue", 
                 "Microsoft JHengHei UI", "Microsoft JHengHei", 
                 "微軟正黑體", sans-serif;
    text-shadow: 0px 0px 5px #BDA177;
    line-height: 1.5;
    letter-spacing: 1px;
    padding: 6rem 0;
}

h1 {
    text-align: center;
    letter-spacing: 20px;
    margin: 0;
}

p, ol, ul{
    margin-bottom: 2rem;
}

p {
    text-align: center;
}

input {
    font-size: 16px;
    background: none;
    color: $text-color;
    border: none;
    border-bottom: 1px solid $border-color;
    border-radius: 0;
    width: 100px;
    &, &:hover, &:focus {
        outline: none;
    }
}

hr {
    border-color: $border-color;
}

.content{
    position: relative;
    max-width: 380px;
    &.-en{
        font-size: .9rem;
        h1{
            letter-spacing: 2px;
            i{
                margin-right: 12px;
            }
        }
        .card label{
            width: 140px;
        }
    }
    &.-terms{
        p{
            text-align: left;
        }
    }
}

.card {
    padding: 30px;
    width: 100%;
    border: 1px solid $border-color;
    @include box-shadow();
    @include horizontal-gradient();
    label {
        display: inline-block;
        width: 120px;
    }
}

.form-group {
    margin-bottom: 10px;
}

.eDynhg {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 8px 16px;
    backdrop-filter: blur(20px);
    border-radius: 12px;
    color: white;
    text-decoration: none !important;
    background-color:#AD5138;
    color:#F8E0BE;
    border:none;
}

.eDynhg:hover {
    text-decoration: none !important;
}

blockquote {
    text-align: center;
    margin: 0;
    margin-top: 4rem;
}


// Language Buttons
#lan-menu-toggle{
    display: none;
}

.lan-btn-group {
    font-size: 1.25rem;
    z-index: 1002;
    text-align: center;
    height: fit-content;
    
    &, .lan-menu, label[for="lan-menu-toggle"] {
        position: absolute;
        top: -40px;
        right: 0;
        width: 150px;
        margin: auto;
        cursor: pointer;
    }
    
    label, button, a {
        display: block;
        padding: .2rem 1.5em;
        font-size: .8em;
        font-weight: 500;
        line-height: 1.8;
    }

    a, a:active{
        color: $text-color;
    }
    
    button, a {
        width: 100%;
        background-color: transparent;
        border: none;
        text-align: center;
        text-decoration: none;
        
        &:not(:last-child) {
            border-bottom: 2px solid rgba(0,0,0, .2);
        }
    }
}

.lan-menu, label[for="lan-menu-toggle"] {
    border-radius: .5em;
    transition: .3s;
}

.lan-menu {
    z-index: 2;
    background-color: rgb(35 28 24 / 60%);
    backdrop-filter: blur(10px);
    padding-top: calc(2em + 6px);
    border: 5px solid rgba(0,0,0, .2);
    opacity: 0;
    pointer-events: none;
}

label[for="lan-menu-toggle"] {
    z-index: 3;
    display: inline-block;
    background-color: rgba(255,255,255, .07);
    border: 5px solid rgba(0,0,0, .07);
}

#lan-menu-toggle:checked {
    & ~ label[for="lan-menu-toggle"] {
        background-color: rgba(0,0,0, 0.05);
        border-color: rgba(0,0,0, .05);
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    
    & ~ .lan-menu {
        opacity: 1;
        pointer-events: auto;
    }
}


// Media Queries
@media screen and (orientation: portrait) {
    .scene {
        display: none;
    }
    
    main {
        --width: auto;
        flex-grow: 1;
    }
}

@media (max-width: 767px) {
    .scene, aside {
        display: none;
    }
    
    main {
        --width: auto;
        overflow: visible;
        min-height: fit-content;
        max-height: fit-content;
    }
}

.desc, footer{
    opacity: .8;
}

footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 1rem;
    font-size: .8rem;
    line-height: 2;
}