<!doctype html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>승률 계산기</title>
    <meta name="description" content="간단한 게임 승률 계산기입니다. 원하는 승률을 입력하면, 추가로 몇 연승이 필요한지 계산해줍니다. 리그 오브 레전드(LOL), 와일드 리프트 등 게임에 적합합니다.">

    <!-- og -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content='승률 계산기'>
    <meta property="og:url" content='https://gamewinrate.cc/'>
    <meta property="og:title" content='승률 계산기'>
    <meta property="og:description" content='간단한 게임 승률 계산기입니다. 원하는 승률을 입력하면, 추가로 몇 연승이 필요한지 계산해줍니다. 리그 오브 레전드(LOL), 와일드 리프트 등 게임에 적합합니다.'>
    <meta property="og:image" content='https://gamewinrate.cc/images/og-image.png'>
    <meta property="og:image:alt" content='승률 계산기'>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3P8TZWK8EB"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-3P8TZWK8EB');
    </script>

    <!-- Google Adsense -->
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5882144744458562" crossorigin="anonymous"></script>
    
    <!-- Google structured data -->
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "WebApplication",
        "name": "승률 계산기",
        "operatingSystem": ["Windows 10", "macOS 11"],
        "applicationCategory": "GameApplication",
        "aggregateRating": {
          "@type": "AggregateRating",
          "ratingValue": 4,
          "ratingCount": 4
        },
        "offers": {
          "@type": "Offer",
          "price": 0,
          "priceCurrency": "TWD"
        }
      }
    </script>
      
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosanstc.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- style -->
    <link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@3.0.1/modern-normalize.min.css">

  </head>
  <body>
    <div id="app" class="content">
      <h1><i class="fa fa-trophy" aria-hidden="true"></i>승률 계산기</h1>
      <p>원하는 승률을 입력하면,<br> 추가로 몇 연승이 필요한지 알려줍니다.</p>
      <div class="card">
        <div class="form-group">
          <label for="all">총 경기 수:</label>
          <input id="all" type="number" v-model="all">
        </div>
        <div class="form-group">
          <label for="win">현재 승률:</label>
          <input id="win" type="number" v-model="win">%
        </div>
        <span>현재 승리 횟수(약): {{ totalWinDisplay }} 경기
        </span>
        <hr>
        <div class="form-group">
          <label for="wish">원하는 승률:</label>
          <input id="wish" type="number" v-model="wish">%
        </div>
        <span>추가로 연승해야 할 횟수: {{ more }} 경기</span>
      </div>
    </div>
    <blockquote>
      <a href="https://im1010ioio.bobaboba.me" target="_blank" class="sc-1ykasxb-0 eDynhg">
        <img height="100%" src="https://s3.ap-southeast-1.amazonaws.com/media.anyonelab.com/images/boba/boba-embed-icon.png" alt="boba-icon"/>
        <div>저에게 버블티 한 잔 사주세요!</div>
      </a>
    </blockquote>

    <script type="module" src="/src/js/index.js"></script>
  </body>
</html>
